<div *ngIf="model" class="card mb-3">
    <div class="row g-0 align-items-center">
        <div class="col-12 p-3 text-center">
            <img *ngIf="model.logoUrl" [src]="model.logoUrl" [alt]="model.name + ' logo'"
                class="img-fluid d-inline-block" style="max-width: 64px; max-height: 64px;" />
        </div>
        <div class="col-12 p-2 model-details-scroll">
            <h5 class="card-title mb-1 text-center">{{ model.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{ model.company }}</h6>
            <p class="card-text small mb-1">{{ model.description }}</p>
            <a *ngIf="model.referenceLink" [href]="model.referenceLink" target="_blank" rel="noopener"
                class="card-link">Reference</a>
        </div>
    </div>
</div>